@charset "UTF-8";
/*
Modified By: Alan Hernandez
Date Started: October 30, 2023
*/

/*Main Attributes*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

/*General h1 Heading Attributes*/
h1 {
    color: blue;
}

/*General Divider Attributes*/
div {
    margin-bottom: 1em;
}

/*General Label Attributes*/
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}

/*General Input Field Attributes*/
input {
    margin-left: 1em;
    margin-right: 0.5em;
}

/*Attributes for the 'span' Element*/
span {
    color: red;
}
